<% content_for :head do %>
<%= javascript_include_tag "jquery.maskedinput", :cache => true %>
<%= javascript_include_tag "jquery.alphanumeric", :cache => true %>
<script language="javascript">
  $(document).ready(function() {
    $(".ammeter_list").bind("click", function() {
      var ac = 0;
      $(".ammeter_list").each(function(){
        if ($(this).attr("checked") == true) {
          ac ++;
        }
      });

      if (ac > 2) {
        $(this).attr("checked", false);
      }
    });
    
  });
</script>
<% end %>

<h1>New Bills</h1>
<%= form_for :bill, @bill, :url => {:action => "create" } do |f| %>
  <%= f.label :rooms_payment, "Room Payment: " %>
  <%= f.text_field :rooms_payment %><br />
  <%= f.label :water_payment, "Water Payment: " %>
  <%= f.text_field :water_payment %><br />
  <%= f.label :other_payment, "Other Payment: " %>
  <%= f.text_field :other_payment %><br />
  <hr />
  
  <%= f.label :ammeter_payment, "Ammeter Payment: " %>
  <%= f.text_field :ammeter_payment, :readonly => true %><br />
  <hr />
  <% @ammeters.each do |a| %>
    <input type="checkbox" class="ammeter_list" value="<%= a.amount %>"></input> - <%= a.check_at.strftime("%x %X")%><br />
  <% end %>
  <%= submit_tag "Generate" %>
<% end %>
<hr />
