<% content_for :head do %>
<%= javascript_include_tag "jquery.dataTables", :cache => true %>
<%= javascript_include_tag "jquery.maskedinput", :cache => true %>

<script language="javascript">
  var reg = /^[0-9]{5}$/
  $(document).ready(function() {
    $('#rooms').dataTable({"bFilter": false, "bPaginate": false, "bInfo": false, "bAutoWidth": true, "bLengthChange": false} );

    $(".ammeter_input").each(function() { $(this).mask("99999"); });

    $(".new_ammeter").bind('submit', function(){ 
      return reg.test($(this).children().first().val());
    });
  });
</script>
<% end %>

<table id="rooms" width="500px" class="display">
  <thead>
    <tr>
      <th style="width: 120px;">SN</th>
      <th style="width: 180px;">Last Check At</th>
      <th style="width: 80px;">Size</th>
      <th style="width: 80px;">State</th>
      <th>Opt</th>
    </tr>
  </thead>
  <tbody>
    <% @rooms.each do |r| %>
      <tr>
        <td> <%= r.sn %> </td>
        <td> <%= r.last_check_ammeter_at.nil? ? "N/A" : r.last_check_ammeter_at.localtime.strftime("%x %X") %> </td>
        <td> <%= r.size %> </td>
        <td> <%= r.state %> </td>
        <td>
          <input type="hidden" value="<%= r.id.to_s %>" class="room_id" />
          <form action="/ammeters/save" class="new_ammeter" id="new_ammeter" method="post">
            <input type="text" id="ammeter_amount" name="ammeter[amount]" class="ammeter_input" style="width: 45px;"></input>
            <input type="hidden" id="room_id" name="ammeter[room_id]" value="<%= r.id.to_s %>"></input>
            <input type="submit" class="ammeter_submit" value="Ammeter"></input>
            <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
            <% if r.state != 'checkin' then %>
              <%= link_to 'Register', :controller => 'registers', :action => 'new', :id => r.id %>
            <% end %>
          </form>
        </td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <th>SN</th>
      <th>Last Check At</th>
      <th>Size</th>
      <th>State</th>
      <th>Opt</th>
    </tr>
  </tfoot>
</table>

<hr />
<%= link_to 'New Room', :controller => 'rooms', :action => 'new' %>
