<% content_for :head do %>
<%= javascript_include_tag "jquery.dataTables", :cache => true %>
<script language="javascript">
  $(document).ready(function() {
    $('#rooms').dataTable({"bFilter": false, "bPaginate": false, "bInfo": false, "bAutoWidth": true, "bLengthChange": false} );
  });
</script>
<% end %>


<table id="rooms" width="500px" class="display">
  <thead>
    <tr>
      <th>Group</th>
      <th>Number</th>
      <th>Floor</th>
      <th>Length</th>
      <th>Width</th>
      <th>State</th>
    </tr>
  </thead>
  <tbody>
    <% @rooms.each do |r| %>
      <tr>
        <td> <%= r.group.to_s %> </td>
        <td> <%= r.number.to_s %> </td>
        <td> <%= r.floor.to_s %> </td>
        <td> <%= r.length.to_s %> </td>
        <td> <%= r.width.to_s %> </td>
        <td> <%= r.state.to_s %> </td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <th>Group</th>
      <th>Number</th>
      <th>Floor</th>
      <th>Length</th>
      <th>Width</th>
      <th>State</th>
    </tr>
  </tfoot>
</table>
  
